@charset "utf-8" ;
@font-face {
    font-family:timer;
    src: url("timer.ttf")
}

body{
    background-image: url(https://i.makeagif.com/media/1-29-2017/Ot1hvg.gif);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

}

.tnt{
    background-image: url(tnt.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  bottom: 20px;
  padding: 105px;

}

.tnt h1{
    text-align: center;
    position: relative;
    bottom: 50px;
    font-family: timer;
}


.cronometro{
    position: relative;
    width: 370px;
    height: 320px;
    left: 400px;
    bottom: 70px;
    background-color: rgb(0, 0, 0);
    padding: 80px;
    border-radius: 50px;
    box-sizing: border-box ;
    border:20px solid #888888;
}

.cronometro P{
    font-size: 12px;
    color: red;
    position: absolute;
    bottom: 80px;
    align-items: center;
    font-family: timer;
}

.cronometro span {
    position: relative;
    font-size: 70px;
    background-color: rgb(36, 36, 36);
    bottom: 20px;
}


button{
    position: relative ;
    font-size: 11px;
    background-color: rgb(63, 63, 63);
    box-shadow: 0 10px 20px rgb(0, 0, 0);
    text-align: center;
    top: 150px;
    padding: 6px;
    align-items: center;
}

    #button-start{
        background-color: #ff0000;
        color: #ff0000;
    }





footer{
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0vh;
    left: 0;
    text-align: center;
    padding: 5px;
    font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 22px;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: #000000;
  font-weight: 200;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  }